{% extends 'base.html.twig' %}

{% block title %}New Lote{% endblock %}

{% block body %}
    <h1>Create new Lote</h1>

    {{ include('lote/_form.html.twig') }}

    <a href="{{ path('lote_index') }}">back to list</a>
{% endblock %}
